Dockerfile
**/target/
node_modules/
/skiplang/prelude/runtime/*.bc
/skiplang/prelude/runtime/*.a
/skiplang/prelude/runtime/*.o
/skiplang/prelude/runtime/magic.c
/skiplang/compiler/stage*
examples/
.circleci/
.claude/
.vscode/
*.md
