*~
*.o
build/
/compiler/bootstrap/*.ll
/compiler/runtime/*.bc
/compiler/runtime/*.a
/compiler/runtime/magic.c
/compiler/stage*
dist/
*.db
*.state
package-lock.json
node_modules/
out32.wasm
target
skdb.wasm
tsconfig.tsbuildinfo