[submodule "skiplang-bootstrap"]
	path = skiplang/compiler/bootstrap
	url = https://github.com/SkipLabs/skiplang-bootstrap.git
	shallow = true

[submodule "compiler/runtime/libbacktrace"]
	path = skiplang/prelude/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
    ignore = dirty
[submodule "www/docs_site"]
	path = www/docs_site
	url = https://github.com/SkipLabs/docs_site.git
