*~
*.o
build/
sql/test/dates/*.out
sql/test/dates/*.res
sql/test/dates/*.diff
*/ts/src/js
dist/
*.db
*.state
*.wasm
target
**/node_modules/
.pnpm-store/
.skgw.conf
bun.lockb
/www/docs/api/
/www/yarn.lock
/skdb-ts-thin/src/**/*.js
/skdb-ts-thin/src/**/*.js.map
/skdb-ts-thin/src/**/*.d.ts
/skdb-ts-thin/src/**/*.d.ts.map
*.tsbuildinfo
skiplang-std
skipwasm-std
skiplang-json
skipwasm-json
skipwasm-date
skipwasm-worker
!skiplang-std/*
!skiplang-json/*
!skipwasm-date/*
!skipwasm-worker/*
.vscode/
!.vscode/extensions.json
