# ignore everything except files with selected extensions
# Keep in sync with bin/git_hooks/check_format.sh
*
!/**/
!*.*
**/*.*
!**/*.css
!**/*.html
!**/*.js
!**/*.json
!**/*.mjs
!**/*.ts
!**/*.tsx

# args files must be on a single line without spaces between braces
*_args.json

www/docs_site
