# ignore everything except files with selected extensions
*
!/**/
!*.*
**/*.*
!**/*.css
!**/*.html
!**/*.js
!**/*.json
!**/*.mjs
!**/*.ts
!**/*.tsx

# args files must be on a single line without spaces between braces
*_args.json
