#root {
  font-family: Verdana, Geneva, sans-serif;
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  padding-top: 8px;
  /*  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  background:
    url("assets/triangle.svg"),
    linear-gradient(transparent, transparent) no-repeat;
  background-size: 10px;
  cursor: Pointer;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.votearrow-active {
  width: 10px;
  height: 10px;
  border: 0px;
  background:
    url("assets/triangle_active.svg"),
    linear-gradient(transparent, transparent) no-repeat;
  background-size: 10px;
  cursor: Pointer;
  display: inline-block;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.post .title {
  font-size: 10pt;
}

.post .posttitle a:hover {
  color: #000;
  text-decoration: none;
}

.post .comhead a {
  font-size: 8pt;
  color: #828282;
}

.post .comhead a:hover {
  text-decoration: underline;
}

.post .subtext {
  font-size: 7pt;
}

div .body ol {
  color: #828282;
  font-size: 10pt;
  padding-inline-start: 26px;
  margin-block-start: 6px;
}

li .post {
  margin-top: 5px;
}

.post p {
  margin: 0;
}

.post p .title {
  display: flex;
  align-items: center;
}

.post .posttitle {
  color: black;
  margin: 0 4px;
}

div .header {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #d62f0d;
  font-size: 10pt;
}

div .header img {
  border: 1px white solid;
  margin: 2px;
  padding: 1px;
}

div .header .title {
  color: black;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

div .header .login {
  margin-left: auto;
  margin-right: 4px;
}

div .header .menu {
  padding: 0 4px;
}

div.header a:hover {
  color: #000;
}

div .body {
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6ef;
  overflow: auto;
}
