services:
  # Reverse proxy
  haproxy:
    image: reactive-hackernews/reverse_proxy
    build: ./reverse_proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      www:
        condition: service_healthy
      skip_leader:
        condition: service_healthy

  # Web application
  web:
    image: reactive-hackernews/web-service
    build: ./web_service
    depends_on:
      db:
        condition: service_healthy

  # SQL database
  db:
    image: reactive-hackernews/db
    build: ./db
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Reactive cache
  skip_leader:
    image: reactive-hackernews/skip-leader
    build: ./skip_leader
    depends_on:
      db:
        condition: service_healthy
  skip_follower1:
    image: reactive-hackernews/skip-follower
    build: ./skip_follower
    environment:
      SKIP_RESOURCE_PREFIX: 1
    networks:
      default:
        aliases:
          - skip_followers
    depends_on:
      skip_leader:
        condition: service_healthy
  skip_follower2:
    image: reactive-hackernews/skip-follower
    build: ./skip_follower
    environment:
      SKIP_RESOURCE_PREFIX: 2
    networks:
      default:
        aliases:
          - skip_followers
    depends_on:
      skip_leader:
        condition: service_healthy
  skip_follower3:
    image: reactive-hackernews/skip-follower
    build: ./skip_follower
    environment:
      SKIP_RESOURCE_PREFIX: 3
    networks:
      default:
        aliases:
          - skip_followers
    depends_on:
      skip_leader:
        condition: service_healthy

  # Front-end
  www:
    image: reactive-hackernews/www
    build: ./www

volumes:
  pgdata:
