version: 2.1

commands:
  setup:
    description: "Setup skip toolchain"
    steps:
      - run:
          name: Fetch submodules
          command: |
            git submodule update --init --recursive
      - run:
          name: Build compiler
          command: |
            cd compiler && make STAGE=0 && make install STAGE=0

jobs:
  compiler:
    docker:
      - image: skiplabs/skdb-base:latest
    resource_class: xlarge
    steps:
      - checkout
      - setup
      - run:
          name: Run compiler tests
          no_output_timeout: 30m
          command: |
            mkdir -p ~/test-results
            cd compiler && make STAGE=1
            PATH=./stage1/bin:$PATH skargo test --junitxml ~/test-results/skc.xml
      - store_test_results:
          path: ~/test-results/skc.xml

  skfs:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run skfs tests
          command: |
            mkdir -p ~/test-results
            cd skfs && skargo test --junitxml ~/test-results/skfs.xml
      - store_test_results:
          path: ~/test-results/skfs.xml

  skdb:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run native skdb tests
          command: |
            make test-native
  skdb-wasm:
    docker:
      - image: beauby/skiplabs:circleci-0.0.1
    steps:
      - checkout
      - setup
      - run:
          name: Run wasm skdb tests
          environment:
            PLAYWRIGHT_REPORTER: junit
            PLAYWRIGHT_JUNIT_OUTPUT_NAME: /home/circleci/test-results/skdb-wasm.xml
          command: |
            mkdir -p ~/test-results
            make test-wasm
      - store_test_results:
          path: ~/test-results/skdb-wasm.xml
