version: 2.1

commands:
  setup:
    description: "Setup skip toolchain"
    steps:
      - run:
          name: Fetch submodules
          command: |
            git submodule update --init --recursive

jobs:
  check-format:
    docker:
      - image: skiplabs/skip:latest
    steps:
      - checkout
      - run:
          name: Check code is formatted
          command: |
            make check-fmt

  check-ts:
    docker:
      - image: skiplabs/skip:latest
    steps:
      - checkout
      - setup
      - run:
          name: Typecheck and lint typescript sources
          command: SKIPRUNTIME=$(pwd)/build/skipruntime npm install && npm run build && npm run lint

  compiler:
    docker:
      - image: skiplabs/skiplang:latest
    resource_class: xlarge
    steps:
      - checkout
      - setup
      - run:
          name: Run compiler tests
          no_output_timeout: 30m
          command: |
            mkdir -p ~/test-results
            cd skiplang/compiler && make STAGE=1
            PATH=$(realpath ./stage1/bin):$PATH skargo test --jobs 8 --junitxml ~/test-results/skc.xml
      - store_test_results:
          path: ~/test-results/skc.xml

  skstore:
    docker:
      - image: skiplabs/skiplang:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run skstore tests
          command: |
            mkdir -p ~/test-results
            cd skiplang/prelude && skargo test --jobs 8 --junitxml ~/test-results/skstore.xml
      - store_test_results:
          path: ~/test-results/skstore.xml

  skdb:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run native skdb tests
          command: |
            make test-native

  skdb-wasm:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run wasm skdb tests
          no_output_timeout: 15m
          command: |
            mkdir -p ~/test-results
            make test-wasm
      - store_test_results:
          path: ~/test-results/skdb-wasm.xml

  skjson:
    docker:
      - image: skiplabs/skiplang:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run skjson tests
          command: |
            mkdir -p ~/test-results
            cd skiplang/skjson && skargo test --junitxml ~/test-results/skjson.xml
      - store_test_results:
          path: ~/test-results/skjson.xml

  skipruntime:
    docker:
      - image: skiplabs/skip:latest
      - image: cimg/postgres:17.0
        environment:
          PGHOST: localhost
          PGDATABASE: postgres
          PGPORT: 5432
          PGUSER: postgres
          PGPASSWORD: secret
    steps:
      - checkout
      - setup
      - run:
          name: Run wasm skip runtime tests
          no_output_timeout: 10m
          command: |
            mkdir -p ~/test-results
            cd skipruntime-ts && make test test-examples
      - store_test_results:
          path: ~/test-results/skipruntime.xml
