version: 2.1

commands:
  setup:
    description: "Setup skip toolchain"
    steps:
      - run:
          name: Fetch submodules
          command: |
            git submodule update --init --recursive

jobs:
  check-format:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - run:
          name: Check code is formatted
          command: |
            make check-fmt

  compiler:
    docker:
      - image: skiplabs/skdb-base:latest
    resource_class: xlarge
    steps:
      - checkout
      - setup
      - run:
          name: Run compiler tests
          no_output_timeout: 30m
          command: |
            mkdir -p ~/test-results
            cd compiler && make STAGE=1
            PATH=$(realpath ./stage1/bin):$PATH skargo test --jobs 8 --junitxml ~/test-results/skc.xml
      - store_test_results:
          path: ~/test-results/skc.xml

  skstore:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run skstore tests
          command: |
            mkdir -p ~/test-results
            cd prelude && skargo test --jobs 8 --junitxml ~/test-results/skstore.xml
      - store_test_results:
          path: ~/test-results/skstore.xml

  skdb:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run native skdb tests
          command: |
            make test-native
  skdb-wasm:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run wasm skdb tests
          no_output_timeout: 15m
          environment:
            PLAYWRIGHT_REPORTER: junit
            PLAYWRIGHT_JUNIT_OUTPUT_NAME: ~/test-results/skdb-wasm.xml
          command: |
            mkdir -p ~/test-results
            make test-wasm
      - store_test_results:
          path: ~/test-results/skdb-wasm.xml
  skjson:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run skjson tests
          command: |
            mkdir -p ~/test-results
            cd skjson && skargo test --junitxml ~/test-results/skjson.xml
      - store_test_results:
          path: ~/test-results/skjson.xml
  skstore-wasm:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run wasm skstore tests
          no_output_timeout: 10m
          environment:
            PLAYWRIGHT_REPORTER: junit
            PLAYWRIGHT_JUNIT_OUTPUT_NAME: ~/test-results/skstore-wasm.xml
          command: |
            mkdir -p ~/test-results
            make tstest-skstore
      - store_test_results:
          path: ~/test-results/skstore-wasm.xml
  
  skstore-gyp:
    docker:
      - image: skiplabs/skdb-base:latest
    steps:
      - checkout
      - setup
      - run:
          name: Run node addon skstore tests
          no_output_timeout: 5m
          command: |
            make skstore-gyp
