#skdb_dev_console {
    background-color: #d7dce0;
    filter: drop-shadow(0px 0px 5px #3d3e40);
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 40em;
}

#skdb_dev_console .logo {
    height: 30px;
    display: block;
    margin-left: auto;
    padding: 0px;
}

#skdb_dev_console .collapse:hover {
    cursor: pointer;
}

#skdb_dev_console .visible {
    visibility: visible;
    display: block;
}

#skdb_dev_console .hidden {
    visibility: hidden;
    display: none;
}

.skdb-dev-console-draggable {
    cursor: move;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    left: auto;
    z-index: 1;
}

/* sections */

#skdb_dev_console .section-heading {
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    text-align: left;
}

#skdb_dev_console .section-body {
    margin-bottom: 1em;
}

/* current user */

#skdb_dev_console select {
  padding: 0.2em;
  margin: 0;
  margin-right: .3em;

  font-size: 1.2em;
  font-family: monospace;

  line-height: inherit;

  height: 1.8em;

  flex: auto;

  &::-ms-expand {
    display: none;
  }
  outline: none;
  border-radius: 5px;
  border: 1px solid #535557;
  background-color: #f5f6f7;
  color: #140000;
}

#skdb_dev_console .add-user {
    border-radius: 5px;
    border: 1px solid #535557;
    padding: 0em 0.4em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    height: 1.8em;
    text-align: center;
}

#skdb_dev_console .users-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* watched queries */

#skdb_dev_console input {
  padding: 0.2em;
  margin: 0;
  margin-right: .3em;

  font-size: 1.2em;
  font-family: monospace;

  line-height: inherit;

  height: 1.8em;

  flex: auto;

  &::-ms-expand {
    display: none;
  }
  outline: none;
  border-radius: 5px;
  border: 1px solid #535557;
  box-sizing: border-box;
  background-color: #f5f6f7;
  color: #140000;
}

#skdb_dev_console .add-query {
    border-radius: 5px;
    border: 1px solid #535557;
    padding: 0em 0.4em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    height: 1.8em;
    text-align: center;
}

#skdb_dev_console .queries-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* query result */

#skdb_dev_console .skdb-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skdb_dev_console .close-query {
    border-radius: 5px;
    border: 1px solid #535557;
    padding: 0em 0.4em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    height: 1.8em;
    text-align: center;
    flex-shrink: 0;
}

#skdb_dev_console .skdb-table {
    overflow: hidden;
    cursor: auto;
}

#skdb_dev_console .skdb-table-query {
  padding: 1em 1em 0 0;
  margin: 0;
  margin-right: .3em;

  font-size: 1em;
  text-align: left;
  font-family: monospace;
  font-weight: bold;

  line-height: inherit;
  height: 1.8em;

  flex-shrink: 1;
  outline: none;
  /* border-radius: 5px; */
  display: inline-block;
  overflow: scroll;
  cursor: pointer;
}

#skdb_dev_console .skdb-table .skdb-table-body {
    overflow: scroll;
    max-height: 50em;
}

#skdb_dev_console .skdb-table table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #989899;
    border: 1px solid #535557;
    font-size: 1em;
    font-family: monospace;
}

#skdb_dev_console .skdb-table table thead {
    padding-bottom: 2px;
}

#skdb_dev_console .skdb-table table th {
    /* border: 1px solid #535557; */
    border-bottom: 2px solid #535557;
    border-left: 1px solid #d2d5d9;
    border-right: 1px solid #d2d5d9;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #f5f6f7;
}

#skdb_dev_console .skdb-table table td {
    border: 1px solid #d2d5d9;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #f5f6f7;
}

#skdb_dev_console .query-error {
    text-align: left;
    background-color: #d69c9c;
    border: 1px solid #535557;
    padding: .5em;
    margin-top: .5em;
    border-radius: 5px;
    color: #140000;
    overflow: scroll;
}

#skdb_dev_console .query-error pre {
    margin: 0em;
}
