---
# Ryu-specific clang-format settings.
# Minimizes formatting diff against upstream (https://github.com/ulfjack/ryu).
BasedOnStyle: LLVM
ColumnLimit: 0
SpaceAfterCStyleCast: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
SortIncludes: Never
